
/*Fondo para el div pagina de login*/
#login_page{
    background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    


	width: 100%;
	min-height: 100%;
	height: auto !important;
	position: fixed;
	top:0; 
	left:0;
}

.vertical-offset-100{
    padding-top:100px;
}


#centrado
{
	text-align: center;
}


.form-publicar{
	
	max-width: 700px;
	margin: 0 auto;
	padding: 1px 25px 25px 25px;
}


