

<div ng-include = "'views/nav.html'"></div>

<div class="container">
    <h3>Consultar status de GPS</h3>
</div>

<br>

<form class="form-publicar">
<div class="col-md-6">
      <div class="form-group">
        <label>IMEI Unidad</label>
        <input type="text" class="form-control" placeholder="Digite codigo IMEI de Unidad">
      </div>
</div>

  

<div class="col-md-6">
      <div class="form-group">
        <label>Servidor</label>
        <input type="text" class="form-control" placeholder="Escriba el nombre de servidor" ng-model = "trabajo.empresa">
      </div>
</div>

<div id = "centrado">
	<button type="button" class="btn btn-primary">Consultar</button>
</div>

	


</form>