

<div ng-include = "'views/nav.html'"></div>

<div class="container">
    <h3>Consultar status de GPS</h3>
</div>

<br>

<form class="form-publicar" ng-submit="consultaUnidad()">
<div class="col-md-6">
      <div class="form-group">
        <label>IMEI Unidad</label>
        <input type="number" class="form-control" min="101504" placeholder="Digite codigo IMEI de Unidad" ng-model = "unidad" required>
      </div>
</div>



<div class="col-md-6">
      <div class="form-group">
        <label>Servidor</label>
        <select class="form-control" ng-model="server" required>
          <option value="" disabled selected>Seleccione un servidor</option>
          <option value="Honduras">Honduras</option>
          <option value="Cerveceria">Cerveceria</option>
        </select>
      </div>
</div>

<div id = "centrado">
	<button type="submit" class="btn btn-primary">Consultar</button>
</div>
<br>
<div class="ibox-content scroll65vh">

                    <table class="table table-striped miTable">
                        <thead>
                        <tr>
                            <th>Unidad</th>
                            <th>Fecha</th>
                            <th>Velocidad</th>
                            <th>Ver en Mapa</th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in ListaDatos" >
                                <td>{{row.Unit}}</td>
                                <td>{{row.Date}}</td>
                                <td>{{row.Speed}}</td>
                                <td><a target="_blank" href={{row.mapa}}><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Ubicar</a></td>

                            </tr>

                        </tbody>
                    </table>

                </div>
</form>
